Library
obj
Temp
*.csproj
*.sln
*.suo
/Cat-ana/*.csproj
/Cat-ana/*.sln
*.meta
/Cat-ana/*.userprefs
!/Cat-ana/Assets/*.meta
!/Cat-ana/ASsets/Scenes/*.meta
!/Cat-ana/Assets/Prefabs/*.meta
!/Cat-ana/Assets/Sprites/*.meta
!/Cat-ana/Assets/Scripts/*.meta
